<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tomillo.appfinal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".Configuracion"
            android:label="@string/title_activity_configuracion" >
        </activity>
        <activity
            android:name=".Escudo1"
            android:label="@string/title_activity_escudo"
            android:theme="@android:style/Theme.NoTitleBar" >
               <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Preferencias"
            android:label="@string/title_activity_preferencias" >
        </activity>
        <activity
            android:name=".MenuEscudos"
            android:label="@string/title_activity_menu_escudos"
            android:theme="@android:style/Theme.NoTitleBar" >
          
        </activity>
        <activity
            android:name=".Transicion_castillo"
            android:label="@string/title_activity_transicion_castillo"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".Pantalla_finalganado"
            android:label="@string/title_activity_pantalla_final"
            android:theme="@android:style/Theme.NoTitleBar" >
            
        </activity>
        <activity
            android:name=".Pantalla_finalperdido"
            android:label="@string/title_activity_pantalla_finalperdido"
            android:theme="@android:style/Theme.NoTitleBar" >
           
        </activity>
        <activity
            android:name=".Transicion_Heroe"
            android:label="@string/title_activity_transicion__heroe"
            android:theme="@android:style/Theme.NoTitleBar" >

        </activity>
        <activity
            android:name=".ActivityLuchaHeroe"
            android:label="@string/title_activity_activity_lucha_heroe"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        -
        <activity
            android:name=".ActivityCastillo"
            android:label="@string/title_activity_activity_castillo"
            android:theme="@android:style/Theme.NoTitleBar" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
-
        </activity>
    </application>

</manifest>